main {
    width: 60%;
    max-width: 700px;
    min-height: 350px;

    border: 1px solid #34a853;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding: 15px;
    margin-bottom: 35px;

    word-break: break-all;
    color: white;
}

main h1 {
    font-weight: normal;
    width: 100%;
}

main > .input-group > .inputCity {
    color: white;
}

main > .btn {
    max-width: 300px;
}

#resultField > div {
    border: 1px solid red;
    border-radius: 10px;
    padding: 15px;

    margin-bottom: 30px;
}

#resultField > div > h1 {
    font-weight: 300;
    text-transform: none;
    font-size: 25px;
    line-height: 1.5;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

#resultField > div > h1:hover {
    filter: invert(41%) sepia(95%) saturate(1958%) hue-rotate(204deg) brightness(103%) contrast(103%);
    transition: 0.5s;
}

#resultField > div > p:hover {
    color: transparent;
    transition: 0.5s;
}

@media screen and (max-width: 425px) {
    .input-group {
        flex-direction: column;
        align-items: center !important;
        justify-content: space-around !important;
        height: 100px;
    }
    .input-group > .form-control {
        width: 100% !important;
        border-radius: 5px !important;
        flex: 0 0 auto !important;
    }
    .input-group > .btn {
        border-radius: 5px !important;
        width: 60%;
    }
}
@media screen and (max-width: 768px) {
    main {
        width: 85%;
    }
}